.scheduler-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 75%;
    row-gap: 2px;
    column-gap: 2px;
    width: 100%;
    height: 100%;
}

.scheduler-config {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
}

.scheduler-config-header {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
    border: solid black 1px;
}

.scheduler-config-cooldown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scheduler-cooldown-input {
    width: 50%;
    text-align: center;
}

.scheduler-task-time-input {
    width: 50%;
    text-align: center;
}

.tasks-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    height: 100%;
    overflow: auto;
}

.tasks-header {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    border: solid black 1px;
}

.base-tasks-container {
    height: 100%;
    overflow: auto;
}

/* width */
.base-tasks-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.base-tasks-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.base-tasks-container::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.base-tasks-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.task {
    text-align: center;
    border: solid black 1px;
    margin: 1%;
}

.task-header {
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    cursor: pointer;
}

.task-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
}

.task-total-done {
    font-weight: bold;
}

.scheduler-field {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid black 1px;
}

.active-task {
    position: absolute;
    width: 5vw;
    height: 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active-task:hover {
    cursor: pointer;
}